a, p, h1, h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

#logo-profile {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 25px;
  color: #5f6077;
  font-size: 28px;

  /*background-image: url(../assets/logo-blue.png);
  background-position: center;
  background-size: 80px 80px;*/
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.white {
  color: white;
}

#username {
  font-weight: 200;
}

.userblock {
  margin-right: 40px;
  font-weight: 100;
  font-size: 18px;
  margin-top: 15px;
}

.navbar-link {
  font-weight: 100;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 40px;
}

#slogan {
  margin-top: 20px;
  margin-right: 20px;
  color: #8485a5;
  font-size: 18px;
}

.header-link {
  margin-top: 20px;
  margin-left: 60px;
  font-size: 18px;
  color: #8485a5;
}

#header-phone {
  margin-top: 20px;
  margin-right: 40px;
  font-size: 18px;
  color: #8485a5; 
}

.clear {
  clear: both;
}

.header {
  padding-bottom: 30px;
}

.navbar {
  clear: both;
  border-radius: 0;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  background-color: #70a5bb;
}

.footer {
  background-color: #70a5bb;
  min-height: 60px;
}

.copyright {
  margin-top: 30px;
}

.social {
  margin-top: 22px;
}

.social-text {
  padding-top: 7px;
}

#social-vk, #social-fb, #social-tw {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

#social-vk {
  background-image: url(../assets/vk.png);
}

#social-tw {
  background-image: url(../assets/tw.png);  
}

#social-fb {
  background-image: url(../assets/fb.png);  
}

.margined {
  margin-top: 60px;
}

.content {
  min-height: 583px;
  margin-left: 40px;
}