option value='' selected='selected'
- object.each do |v| 
  option value="#{v.id}"  data-commission="#{v.commission}" data-commission-yandex="#{v.commission_yandex}" data-commission-ya-card="#{v.commission_ya_card}" data-commission-web-money="#{v.commission_web_money}" data-commission-ya-cash-in="#{v.commission_ya_cash_in}"
    = "#{v.title}"