.clearfix
  .t-table_w
    .t-cell.tops style=("width: 120px") Способ оплаты
    .t-cell
      / p
      /   .custom.two
      /     input#i13 name="pay[payment_type]" type="radio" value="1" checked="checked"
      /       label for="i13"  Банковская карта
      p
        .custom.two
          input#i14 name="pay[payment_type]" type="radio" value="3" checked="checked"
            label.disabled for="i14"  Банковская карта
      p
        .custom.two
          input#i15 name="pay[payment_type]" type="radio" value="2"
            label.disabled for="i15"  Яндекс Деньги
      / p
      /   .custom.two
      /     input#i16 name="pay[payment_type]" type="radio" value="4"
      /       label.disabled for="i16"  Платеж со счета мобильного телефона
      p
        .custom.two
          input#i17 name="pay[payment_type]" type="radio" value="6"
            label.disabled for="i17"  WebMoney
      / p
      /   .custom.two
      /     input#i18 name="pay[payment_type]" type="radio" value="7"
      /       label.disabled for="i18"  Сбербанк Онлайн