
    <style>
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
</style>

<div class="row">
  <div class="col-md-8">
    <ul class="navigation">
      <li>
        <a id="reg-step-one-info" class="active">Зарегистрируйтесь</a>
        <span>&gt;</span>
      </li>
      <li>
        <a id="reg-step-two-info">Добавьте объект</a>
        <span>&gt;</span>
      </li>
      <li>
        <a id="reg-step-three-info">Выберите поставщика услуг</a>
        <span>&gt;</span>
      </li>
      <li>
        <a id="reg-step-four-info">Оплатите</a>
      </li>
    </ul>


  <div class="reg-step-1">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Регистрация</h2>
      <div class="info">
        Мы гарантируем конфиденциальность Ваших данных
      </div>
    </div>
  </div>

  <%= form_tag user_registration_path, remote: true, id: "reg-step-one-form" do %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group-margin">
        <div class="col-lg-12">
          <label>Email *</label> 
          <input type="email" placeholder="Адрес Вашей эл. почты" name="user[email]" id="input-email" class="form-control">
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group-margin">
        <div class="col-lg-12">
          <label>Имя *</label>
          <input type="text" placeholder="Введите Ваше имя" name="user[first_name]" id="input-name" class="form-control">
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group-margin">
        <div class="col-lg-12">
          <label>Город *</label>
          <input type="text" placeholder="Выберите город" name="user[city]" id="input-city" class="form-control">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  <div class="col-md-6">
    <div class="form-group-margin">
      <div class="col-lg-12">
        <label class="overflow">
          <div class="float_left" >Пароль *</div>
          <div  class="float_right">
            

<div class="custom">
<input id="show-pass" type="checkbox">
<label for="show-pass">Показать</label>
</div>

      </div>
        </label>
        <input type="password" placeholder="Придумайте пароль" name="user[password]" id="input-password" class="form-control">
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group-margin">
      <div class="col-lg-12">
        <label>Номер телефона *</label>
        <input type="text" placeholder="+7 (123) 456 78 90" name="user[phone]" id="input-phone" class="form-control">
      </div>
      <div class="clearfix"></div>
    </div>
    
    <div class="form-group-margin">
      <div class="col-lg-12">
        Пол
        <div>
          

    <span >
                    <div class="custom">
  <input type="radio" name="user[gender]" id="option1" value="m">
            <label for="option1">Мужской</label>
</div>
                    </span>




                    <span class="right_padding">
                    <div class="custom">
<input type="radio" name="user[gender]" id="option2" value="f">
            <label for="option2">Женский</label>
</div>
                    </span>

 

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row" style="clear: both">

    <div class="col-md-6">
      <div class="col-md-12">
        <div class="checkbox">
                                                  <div class="custom">
<input id="offer-confirm" type="checkbox" name="radio">
<label for="offer-confirm">Я принимаю условия</label>
<a data-toggle="modal" href="#myModaloffer">публичной оферты</a>
</div>
   </div>
        <input class="btn btn-default" id="reg-step-one-submit" type="submit" value="Продолжить" onclick="return false;">
      </div>
    </div>
  </div>
  </div>
  <% end %>
  </div>

  <div class="reg-step-2" style="display:;">
  <div class="row">
            <div class="col-md-12">
              <h2 class="title">
                Добавление объекта
              </h2>
              <div class="info">
              Добавьте свою квартиру, дом или другую форму недвижимости
              </div>
            </div>
  </div>
  <%= form_tag places_path, remote: true, id: "reg-step-two-form" do %>
    <div class="row">
            <div class="col-md-6">
              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                    Название *</label> 
                    <input type="text" placeholder="Введите название объекта" id="input-place-title" name="place[title]" class="form-control">
                </div>
                  <div class="clearfix"></div>
              </div>

              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label for="typs">
                    Тип объекта *
                  </label>
                  <select name="place[place_type]" class="" prompt="Выберите тип объекта">
                    <option value="Дом">Дом</option>
                    <option value="Квартира">Квартира</option>
                    <option value="Гараж">Гараж</option>
                  </select>
                </div>
                  <div class="clearfix"></div>
              </div>

                    <div class="form-group-margin">
                      <div class="col-lg-12">
                        <label>Город *</label>
                        <input type="text" placeholder="Выберите город" name="place[city]" id="input-place-city" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    </div>

              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                    Адрес  *
                  </label><input type="text" placeholder="Улица, дом" id="input-place-address" name="place[address]" class="form-control">
                </div>
                  <div class="clearfix"></div>
              </div> 
              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                    Квартира *
                  </label><input type="text" placeholder="Введите номер Вашей квартиры" id="input-place-address" name="place[apartment]" class="form-control">
                </div>
                  <div class="clearfix"></div>
              </div> 
            </div>
            </div>

            
            <div class="row" style="clear: both">
              <div class="col-md-6">
                <div class="">
                  <input class="btn btn-default" id="reg-step-two-submit" type="submit" onclick="return false;" value="Продолжить">
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <div class="reg-step-3" style="display: ;">
            <div class="row">
            <div class="col-md-12">


              <h2 class="title">
                Выберите поставщика услуг
              </h2>
              <div class="info">
            Выберите поставщика услуг и введите необходимые данные
              </div>


            </div>
          </div>
 

          <div class="row">
            <div class="col-md-6">


              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                    Название *
                  </label> <input type="text" placeholder="Введите название услуги" id="input-service-title" name="service[title]" class="form-control">
                </div>
                  <div class="clearfix"></div>
              </div>
              
              <%= form_tag services_path, remote: true, id: "reg-step-three-form" do %>
                <div class="form-group-margin">
                <div class="col-lg-12">
                  <label for="typs">Тип услуги *</label>
                  <select name="service[service_type_id]" class="nova">
                    <option value="1">Водоснабжение</option>
                    <option value="2">Коммунальные услуги</option>
                    <option value="3">Интернет</option>
                    <option value="4">Охрана</option>
                  </select>
                </div>
                  <div class="clearfix"></div>
              </div>
                <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>Поставщик *</label>
                  <select name="service[vendor_id]" class="nova">
                    <option value="1">Самарские коммунальные системы</option>
                    <option value="2">Самара Лан</option>
                    <option value="3">Дельта-Самара</option>
                    <option value="4">Цифрал-Сервис</option>
                  </select>
                </div>
                  <div class="clearfix"></div>
              </div>
              
              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>Лицевой счет *</label>
                  <input type="text" placeholder="Введите номер договора или лицевого счета" id="input-service-user-account" name="service[user_account]" class="form-control">
                </div>
                  <div class="clearfix"></div>
              </div> 
            </div>
            <div class="row" style="clear: both">

              <div class="col-md-6">
                <div class="col-md-12">
                  <input class="btn btn-default" id="reg-step-three-submit" type="submit" onclick="return false;" value="Продолжить">
                </div>
              </div>



            </div>



          </div>
          <% end %>
      </div>
      <div class="reg-step-4" style="display:;">
        <div class="row">
            <div class="col-md-12">


              <h2 class="title">
              Оплата услуги
              </h2>
              <div class="info">
        Введите сумму платежа и нажмите кнопку “Оплатить”
              </div>


            </div>
          </div>


          <div class="row">
                      <div class="col-md-6">


              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                  Сумма * 
                  </label>
                  
                  
                  
                  <div class="row">
  <div class="t-table_w">
  
  
             
                      <div class="t-cell"> <div class="col-md-12"><input  type="email" placeholder="" id="inputEmail1" class="form-control"></div></div>
                      <div class="t-cell">руб.</div>
                      <div class="t-cell">  <div class="col-md-12"><input  type="email" placeholder="" id="inputEmail1" class="form-control"></div></div>
                      <div class="t-cell">коп.</div>
   
                    </div>
</div>
                  
        
                
                
                </div>
                  <div class="clearfix"></div>
              </div>
              
           
              
              <div class="form-group-margin">
                <div class="col-lg-12">
                  <label>
                Способ оплаты *
                  </label> 
                   <p></p>
                  
                      <p >
                                  <div class="custom">
<input id="i13" type="radio" name="radio">
<label for="i13">Банковская карта</label>
 
</div>
                    </p>
                      <p >
                                                                                  <div class="custom">
<input id="i14" type="radio" name="radio">
<label for="i14">Web Money</label>
 
</div>
                    </p>
                      <p >
                                                                                  <div class="custom">
<input id="i15" type="radio" name="radio">
<label for="i15">Яндекс деньги</label>
 
</div>
                    </p>
                    
                      <p >
                                                                                  <div class="custom">
<input id="i16" type="radio" name="radio">
<label for="i16">Робокасса</label>
 
</div>
                    </p>
                </div>
                  <div class="clearfix"></div>
              </div>
              
            
              
              

           
 




            </div>
            <div class="row" style="clear: both">
              <div class="col-md-6">
                <div class="col-md-12">
                 <p class="sum">Комиссия сервиса:  <span>20 руб. 30 коп.</span></p>
                 <p class="sum">Итого к оплате:  <span>1220 руб. 30 коп.</span></p>
                  <button class="btn btn-default " type="button" id="reg-step-four-submit" onclick="return false;">Оплатить</button>
                   <p class="sum" style="font-size: 12px">Безопасность проведения платежа гарантирована сервисом АйЖКХ</p>
                   <p class="sum" id="wip"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>





    <!-- Modal -->
<div class="modal fade" id="myModaloffer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog forma_enter">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div class="row">
              <div class="col-md-12">


                <h2 class="title">
                  Публичная оферта
                </h2>
                <div class="info">
              <p>Представляется логичным, что надстройка изоморфна времени. Закон исключённого третьего, конечно, заполняет дуализм, ломая рамки привычных представлений. Искусство, как следует из вышесказанного, осмысленно оспособляет типичный здравый смысл, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Концепция очевидна не для всех. Закон исключённого третьего порождает и обеспечивает онтологический дуализм, изменяя привычную реальность.</p>
              
              
              
              <p>Аджива создает интеллигибельный даосизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Аджива иллюзорна. Закон исключённого третьего абстрактен. Исчисление предикатов философски представляет собой типичный позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.</p>

<p>Созерцание, как следует из вышесказанного, подчеркивает дедуктивный метод, открывая новые горизонты. Позитивизм представляет собой мир, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения. Аналогия, по определению, категорически подчеркивает интеллигибельный смысл жизни, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения. Гедонизм, по определению, неоднозначен. Суждение рефлектирует типичный закон исключённого третьего, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.</p>

<p>Представляется логичным, что надстройка изоморфна времени. Закон исключённого третьего, конечно, заполняет дуализм, ломая рамки привычных представлений. Искусство, как следует из вышесказанного, осмысленно оспособляет типичный здравый смысл, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Концепция очевидна не для всех. Закон исключённого третьего порождает и обеспечивает онтологический дуализм, изменяя привычную реальность.
</p>
          
                </div>


              </div>
            </div>
       
          </div>


    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->